[2014-09-29 17:02] taran03 opened #1 "Guidance for related records widget"
Do you have more detailed guidance other than the readme for this widget?  I'm not able to implement this with CMV version 1.2 or 1.3.  I'm sure I'm just doing something wrong, but I can't pinpoint it.  If you don't have more detailed guidance available, is there any chance you could share files from a working example?  Thanks!

[2014-10-04 18:04] #1 closed, assigned to nobody

[2014-10-10 15:38] jebu75 opened #2 "Layout issues"
I am having problems getting this widget to work.  The issue is purely related to display, the retrieval of relationships and related records works great!

I suspect that I'm having similar issues to those described here:
https://github.com/cmv/cmv-app/issues/233

What I can tell from my testing is that for one thing, the only tab position that works is 'left-h'.  If I use anything other, the tabc

[2014-11-11 14:48] geoggeek opened #5 "App Settings custom widget"
Hi,

I'm having problems getting the App Settings widget to work. The widget is appearing in the side pane but it is not populated by the form items (see image). I've added the settings information to viewer.js and AppSettings.js to gis/dijit, as well as the AppSettings/templates/AppSettings.html folder. I can't see what's wrong with this.

Any help appreciated.

Thanks,
Stephen

![app settings](h

[2015-02-06 20:37] roemhildtg commented on #5
@geoggeek, with some recent updates to the widget I have made the size of the url smaller maybe it will solve the other isue you were having. If it doesn't feel free to open it back up

[2015-02-06 20:37] #5 closed

[2015-02-06 20:38] roemhildtg commented on #2
Did you find that worked for you? I ended up switching themes to the nihilo dojo theme as dbootstrap is no longer maintained.

[2015-02-15 05:56] roemhildtg commented on #2
Feel free to reopen if you encounter issues.

[2015-02-15 05:56] #2 closed

[2015-03-04 15:57] BrutusBuckeye024 opened #7 "Saving and retrieving settings"
I am having a little trouble figuring out where to place the "Topic.Publish" and "Topic.Subscribe" statements. I have tried a couple different places in the Appsettings.js but I seem to be messing up the logic. Sorry, more of a question than an issue but it is driving me crazy and I'd love to incorporate it into my app.

[2015-03-08 18:55] roemhildtg commented on #7
Thanks for the question, I wrote up the documentation really quickly and it isn't very detailed. You would want to place the `topic.subscribe` method (which loads the saved settings) in **your widget's** postCreate function or startup function will work also. Try doing this first to make sure the function is being triggered:

[code]
For example, I modified Basemap.js widget from the CMV project: [

[2015-03-09 19:35] BrutusBuckeye024 commented on #7
Thank you. It works great now... that was a lot of help!

[2015-03-15 14:48] roemhildtg commented on #7
Your welcome.

[2015-03-15 14:48] #7 closed

[2015-05-01 14:28] wrightgd opened #8 "AppSettings template not loading"
@roemhildtg I am trying to implement your AppSettings widget to allow email links to specific extents within my CMV application.

I have loaded it "off-the-shelf" from your github repo, but I'm getting a strange error when I open my application.  The widget TitlePane is loading on the left of my app, but expanding the TitlePane reveals that it's empty.

Any ideas? Thanks!

Here's what's coming up

[2015-05-01 14:47] roemhildtg commented on #8
Good catch. It was checking for `shareNode === null` and trying to place the shareNode link at a domNode that didn't exist. Try the latest update, it should be fixed.

[2015-05-01 15:03] wrightgd commented on #8
Thanks, will try now and report back momentarily.  Also, please note that in the AppSettings readme, a comma is missing after body: 'Check out this map! <br /> '.  This initially caused errors but was an easy fix on my end.

[2015-05-01 15:39] wrightgd commented on #8
This fix worked. Thank you for your help. I will note, however, that HTML such as `<br />` doesn't appear to be supported by the `body` element of a `mailto` url string. The result of this was that `"<br />"` was showing up inline with the body of the email message that got generated.

One potential fix to this is to change `<br />` to `%0D` which is the ASCII encoding for a new line.

Thanks agai

[2015-05-01 15:39] #8 closed

[2015-05-06 21:12] ERS-Long opened #9 "only got the map extent, but the layer is always off when i use the share widget."
Please let me know what i miss.

Thanks a lot.

Long

[2015-05-07 11:53] roemhildtg commented on #9
@ERS-Long, are you able to provide a live example of this on a public site?

If not, can you provide your config for the widget?

Also, are you using the latest version of the widget?

[2015-05-07 13:58] ERS-Long commented on #9
Hi, @roemhildtg:

My site is still in our internal server, so i cannot share it.

but here is the config settings:

            settings: {
                include: true,
                id: 'settings',
                position: 17,
                type: 'titlePane',
                canFloat: true,
                path: 'gis/dijit/AppSettings',
                title: '<i class="icon-large
icon-pap

[2015-05-08 02:30] roemhildtg commented on #9
Hi @ERS-Long, can you also tell me what types of layers you are using? It would probably be helpful to see your operationalLayers array in your config file. The URL's aren't important so you don't have to include them as they are internal anyways.

[2015-05-08 14:49] ERS-Long commented on #9
Hi,
roemhildtg

Thanks a lot.

Here is the layer config portion.

        {
            type: 'dynamic',
            url: '
https://gis.eparm.net/eparmgis/rest/services/R6Secure/RMP_PDO/MapServer',
            title: 'R6 RMP Facilities',
            options: {
                id: 'R6RMPFacilities',
                opacity: 1.0,
                visible: false,
                imageParameters: image

[2015-05-09 19:39] roemhildtg commented on #9
I just found the bug. I wasn't having any issues, but after pasting the config from the documentation, I experienced the same issue. There was a typo in the documentation config, in the option for emailSettings, savelayerVisibility should be changed to save<b>L</b>ayerVisibility
`emailSettings: ['saveMapExtent', 'saveLayerVisibility'],`

Good catch!

[2015-05-10 04:01] ERS-Long commented on #9
Hi, roemhildtg:

Thanks a lot for your help.
Now i moved forward one step, but got a new problem,

it seems the url is too long, but also when i test the url, (it is
something like this

http://wsdtxmal/r6pdo/%3FcmvSettings%3D%257B%2522saveMapExtent%2522%253A%257B%257D%252C%2522saveLayerVisibility%2522%253A%257B%2522R6Removal%2522%253A%257B%2522visible%2522%253Afalse%252C%2522visibleLayers%2522%25

[2015-05-10 14:36] roemhildtg commented on #9
I ran into this issue as well. [I ended up writing two php scripts](https://github.com/roemhildtg/CMV_Widgets/blob/master/widgets/AppSettings/php/index.php) to store and retrieve the saved map in a sqlite database. To use it, place the php script on your server somewhere, and then send the option `server: 'path/to/index.php'` to appSettings.

[2015-05-11 02:09] ERS-Long commented on #9
Thanks a lot. Got the php/sqlite in place, and the link is working. I will
do more test this coming week.

One thing i noticed is if I clear the google chrome history data, then it
seems to me it also deletes the sqlite DB content? i am not very sure about
that, but will do more test.

Another thing is the php page does need write permission in the web server
folder, is there anyway we can control

[2015-05-11 18:12] ERS-Long commented on #9
Hi, @roemhildtg

It works beautifully in my test environment.

The only thing or enhancement I would like to have if you could is to store
the basemap info in the configure setting. Please let me know if that is in
this version or it is something for future enhancement.

Thanks again.

On Sun, May 10, 2015 at 9:09 PM, Long Ma <long.d.ma@gmail.com> wrote:

[2015-05-11 19:48] roemhildtg commented on #9
It's not in this version ootb, but it is easily doable. Just modify the basemap widget to store and retrieve the settings using `dojo/topic`. [See the details here](https://github.com/roemhildtg/CMV_Widgets/tree/master/widgets/AppSettings#storing-a-setting)

We did it like this:
[code]

[2015-05-11 21:29] ERS-Long commented on #9
Hi, Gregg:

Thank you so much, got it working now.

Added this in the config part

                     //optional (defaults shown):
                     appSettings: {
                        saveBasemap: {
                            save: false,
                            value: {},
                            checkbox: true,
                            label: 'Save Basemap',

[2015-05-12 01:11] roemhildtg commented on #9
Just a small warning on the php script, it's not sanitizing any of the input so be wary of placing it on a public facing server. Someone could easily post something like `'DROP * FROM Data WHERE 1=1;'`..in addition to sql commands, there may be other security flaws.

[2015-05-12 15:32] ERS-Long commented on #9
Ok, I am aware of that, it should not be that critical, the lost maybe just
the saved map settings.

Thanks.

On Mon, May 11, 2015 at 8:11 PM, Gregg Roemhildt <notifications@github.com>
wrote:

[2015-05-27 12:24] slowe71 opened #13 "Saved extent working some time, other times returns to same, unset location"
I am using your AppSettings widget and the save extents is working some of the time and then other times, upon opening it zooms to an extent that I did not set. When it does this, it is always the same spot that it returns to. Any idea what may be going on? Thanks!

[2015-05-27 22:09] roemhildtg commented on #13
@slowe71, can you include information on what browser(s) you are having this problem with? And can you post your widget's config section?

Also please check and see if the latest version fixes the issue. I recently pushed some major changes and they may have an impact on the issue.

[2015-05-28 12:55] slowe71 commented on #13
Thanks for your help.  OK, more info:
I am typically using Chrome, but was also having issues in Firefox.  If I click on checkbox to set the layer visibility and extent and then just refresh without closing/re-opening, it works around half the time and then I am periodically getting the message shown below in the console and the set layer visibility does not work/extent does. If I click the checkb

[2015-05-28 14:37] #9 closed

[2015-05-29 02:04] roemhildtg commented on #13
I'm sure this probably isn't the issue but could you just double check you're using the latest version?

[2015-05-29 12:25] slowe71 commented on #13
Oops, sorry, meant to add that in the note above.  Yes, it appears that I am using the most recent.  The last note on the README file notes a change on 4/27/2015, which I believe is the most recent one.  In terms of configuration, all I did was add to viewer.js and move the AppSettings files to the widget folder.  I did not configure anything else of do anything with the php files, as that seemed

[2015-05-30 02:39] roemhildtg commented on #13
Go by the git commits for updates, I originally intended to update the readme for every update but I've been making a lot of changes lately to accommodate needs for the widget at work and haven't had time to update it. The most recent version was pushed 2 days ago.

[2015-06-02 02:16] roemhildtg commented on #13
Could you try testing [this zip file](https://github.com/roemhildtg/CMV_Widgets/blob/master/cmv-app.zip) and comparing it to your code? I can't seem to reproduce the issue your having.

[2015-06-02 17:59] slowe71 commented on #13
Thanks again.  I downloaded the latest release yesterday and also just compared against your zip file, but I did not find anything that stood out.  While testing, though, I did notice that when the tool did not seem to be working (refresh of site did not open at the set extent), I was also getting this console error that I did not notice before: "Cannot read property 'decimalFormat' of undefined".

[2015-06-02 18:00] slowe71 commented on #13
Thanks again.  I downloaded the latest release yesterday and also just compared against your zip file, but I did not find anything that stood out.  While testing, though, I did notice that when the tool did not seem to be working (refresh of site did not open at the set extent), I was also getting this console error that I did not notice before: "Cannot read property 'decimalFormat' of undefined".

[2015-06-02 18:01] roemhildtg commented on #13
The app settings will not load if other widgets fail first. This is because
app settings uses dojo ready to make sure all widgets are ready before
starting. When map info fails, so does app settings.
On Jun 2, 2015 12:59 PM, "slowe71" <notifications@github.com> wrote:

[2015-06-02 18:04] roemhildtg commented on #13
Try disabling the map info widget and let me know if it works. I still haven't found a great solution to that other than getting rid of the dojo.number call inside.

[2015-06-02 20:47] slowe71 commented on #13
Looks like that did it.  For now I will just keep mapInfo disabled and maybe try to tweak it later.
Thank you for all or your help!!!!

[2015-06-02 20:47] #13 closed

[2015-07-28 00:20] MesquiteGIS opened #16 "Trying to embed Related tables widget into identify info window"
I've been trying to get the related table widget to work within the identify info window with out any luck. I've updated to the latest version, and tried adding in the suggested code. Doing this disables the identify pop up all together. Any suggestions?

[2015-07-28 00:23] roemhildtg commented on #16
@MesquiteGIS can you post what you've done? It will be easier to help if I can see your code.

[2015-07-28 00:30] MesquiteGIS commented on #16
Sure, thanks....

in the identify.js config I added:

define([
    'dojo/dom-construct',
    'dijit/layout/TabContainer',
    'dijit/layout/ContentPane',
    'gis/CMV_Widgets/widgets/RelationshipTable/RelationshipTable'//path is relevant to wherever you placed the file
], function (domConstruct, TabContainer, ContentPane, RelationshipTable){

		var formatters = {
        relationship: function (re

[2015-07-28 00:32] MesquiteGIS commented on #16
Also, just out of curiosity, how do i get my code to show up as code in these posts? Always hit or miss. Sorry, noob question.

[2015-07-28 01:17] roemhildtg commented on #16
That's a good question. Just put three of those dashes that look like apostrophe's in a row, and three more to end it. Its the key below the Esc button.`

[2015-07-28 01:29] roemhildtg commented on #16
So I found a slight problem, the docs I had didn't include `dojo/_base/lang`. After adding that I was able to get the widget to work. A proxy is required, are you using [a esri proxy](https://developers.arcgis.com/javascript/jshelp/ags_proxy.html)??

[2015-07-29 16:01] MesquiteGIS commented on #16
Hi Gregg,

My application works using the related records widget, however, the table
doesn't always populate. Sometimes it takes several clicks on a feature for
the related records to show up for that feature. Have you experienced this
at all? Could it be that my proxy is not configured properly, or would the
widget not work at all if it was due to the proxy?

Thanks,

Ryan

On Mon, Jul 27, 2015 a

[2015-08-03 02:54] roemhildtg commented on #16
It could be a proxy config problem. It would be difficult for me to say though. If you open up chrome or firebug network debugger and compare the results of a failed identify and  successful one does anything stand out?

[2015-08-28 17:37] kcarrier opened #19 "Time Slider"
I was hoping you could provide me with some direction. I am not able to get TimeSlider to show, nothing comes up when I grunt the app.

1. Created a folder called TimeSlider under dijit folder, added TimeSlider.js into that folder.
2. Added Time Aware Layer to app.
3. viewer.js - Added this code.
[code]

[2015-08-28 20:41] roemhildtg commented on #19
@kcarrier As you described it to me, you created a folder and placed the file in there, so the path as you have it set up should be: `path: 'gis/dijit/TimeSlider/TimeSlider'`. Alternatively, move the TimeSlider.js into gis/dijit/ folder. Let me know if that fixes it.

If you check your chrome dev tools or firefox firebug (F12) you'll probably see an error that the file isn't getting included. The

[2015-08-28 20:43] roemhildtg commented on #16
@MesquiteGIS were you able to get this figured out?

[2015-08-28 22:03] tmcgee commented on #19
@roemhildtg I resolved the widget not showing up with @kcarrier in gitter.im chat. The pane configuration was missing so no bottom pane.

[2015-08-29 02:45] roemhildtg commented on #19
Thanks @tmcgee !

[2015-08-29 02:45] #19 closed

[2015-09-03 20:43] MesquiteGIS commented on #16
@roemhildtg , Hi Gregg, thanks for checking up on this. Sorry, took me awhile to get back to this project. I still haven't got the related tables widget to work 100% for my application.

mesquitenvpavement.appspot.com

As you can see, when clicking on a new street segment, the identify widget works every time, but the related table doesn't show new records every time. Cant seem time figure out why

[2015-09-04 02:28] roemhildtg commented on #16
Its an odd issue. I experienced this occasionally before I switched over to putting the table in the identify popup.

Here's a couple things you can try, let me know if they help at all.
1. Turn the opacity off on the feature layer. Make sure it is indeed showing up in those areas where the related records don't load.
2. Make the line width a lot wider on the feature layer. The related record widg

[2015-09-14 20:20] MesquiteGIS commented on #16
@roemhildtg Success!!! Your second suggestion of making the line width a lot wider worked! It never occurred to me to try that. Thank you so much for the suggestion. I think originally the width of that feature layer was set at .4, so I upped it up to 10 with no color and it now works beautifully.

Thanks again, much appreciated

[2015-09-14 20:20] #16 closed

[2016-01-26 03:35] friendde opened #20 "multiple content: for bottom pane"
I would like to also use the Advanced Search Widget with your Related Table widget. How do I specify more than one ```content: ```
in the div tag?

[code]

[2016-01-26 14:18] roemhildtg commented on #20
@friendde I'm trying to guess what you want to accomplish, do you want to have the Advanced Search Widget as a new tab in the Related Table Widget?

[2016-01-26 14:24] friendde commented on #20
I don't think I want a new tab (unless it's necessary). But I do want to be able to configure the app to use both widgets. I am confused on how to configure the bottom pane so both widgets can be used in the application. Basically add your widget. Both widgets require the bottom pane ```content: ```
to be configured.

[2016-01-26 14:26] roemhildtg commented on #20
Ah, I see. Try this:
[code]

You might need to play around with the width/height.

[2016-01-26 14:28] roemhildtg commented on #20
Just a side note, they don't necessarily need the bottom pane configured, you can place each widget anywhere in theory, but since the related records widget is quite large, I recommend placing it in a bottom or top pane.

[2016-01-27 13:32] friendde commented on #20
Thanks, it places the RelatedRecords Tab underneath the Attributes tab. I am ok with that. Thanks for making this. I have another question but I will ask in the chat at the CMV page.

[2016-01-27 13:32] #20 closed

[2016-01-27 13:42] roemhildtg commented on #20
@friendde You might be able to fit them side by side by using `float:left` in the css.

[2016-02-17 15:15] dfralia opened #21 "Using fields from a related table in a popup template, that is formatted as an attribute list"
Hi all,
I am new to using the CMV code, (and JS). I am trying to get related records to show up in an attribute list format. I am able to get the related records table to work properly, however the data shows up in tabs. I don't really want the tabs. I want the data to show up as it does here (with some different formatting though)
![untitled](https://cloud.githubusercontent.com/assets/13559288/13

[2016-02-17 15:38] roemhildtg commented on #21
So here's the problem, the relationship table renders itself as a table, not as a list. So in your example above, the popup content would look something like this:

- ObjectID: 10
- ADMIN_DEPT_CODE: DOI
- ...Other feature class attributes

ID | Related field 2 | Related field 3 | ...
-----| ----- | ---- | ----
1 | Record Value | Record Value | ...
2 | Record Value | Record Value | ...
3 | Record V

[2016-02-17 15:49] dfralia commented on #21
Yes the relationships do end up showing in the table format, however I was wanting them to be in the same format, or similar to the attribute list.
So, perhaps something like this (or similar):

- ObjectID: 10

- ADMIN_DEPT_CODE: DOI

- .....ETC

- Related Field 2: (Record 1) , Related Field 3: (Record 2) ---------_Field 2 would be first name, field 3 is last name_

[2016-02-17 16:10] roemhildtg commented on #21
That won't be easy to accomplish since the widget uses dgrid and doesn't actually do the table rendering itself. It just queries ArcGIS Server for data and loads it into a store. Dgrid does the rest by generating the rows. I suppose one hackish option would be to use CSS to override the look of the table and make it look like a list.

But why not just format your attributes into a table, and then

[2016-02-17 16:19] dfralia commented on #21
Those are some good ideas. I will see what if I can implement, or perhaps create a new widget somehow. I will post back here for reference if I can get something to work.

Thanks for the help and ideas. Much appreciated!

[2016-02-26 00:26] roemhildtg commented on #21
@dfralia did you get this figured out? I just added a complete example to the demo branch of this repo. You can see it here: https://github.com/roemhildtg/cmv-widgets/blob/demo-widgets/cmv-app/js/config/identify.js#L84

[2016-03-02 15:25] dfralia commented on #21
I had not been able to figure something else out yet. I actually got pulled into another project, and put this on the backburner for a little bit. I just implemented your new demo, and it looks very good. I think I will be able to work with this.  Thank you for posting it.

[2016-03-02 15:25] #21 closed

[2016-04-05 19:01] shshwang opened #22 "Appsetting can't save visible layer"
Hi, I am new to Javascript and CMV.
Thanks for sharing your code, I am able to add the appsetting widget to save extent but can't display visible layer.
Below is the error I got when copy the URL to a new browser.

 TypeError: layer.layer.setVisibleLayers is not a function(…)(anonymous function) @ init.js:31

Any thoughts on what could cause the error?

Thanks,
Shen

[2016-04-06 01:28] roemhildtg commented on #22
@shshwang are you able to provide an example of this happening or perhaps the config file that you're using to configure the widget?

You probably stumbled upon an issue but it's really difficult to provide help without a live example or at least the config you're using.

To share the config, create a new gist.

[2016-04-06 02:46] shshwang commented on #22
Thank you so much for your timely response!
I figured out, it is the tiled layer causing the problem. When I comment
the tiled service out. It works.
I remember someone posted share the basemap, I will try tomorrow. Then
update the post.

Really appreciate for sharing the widget. Saved me lots of time :)

Best,

Shen

On Tue, Apr 5, 2016 at 8:28 PM, Gregg Roemhildt <notifications@github.com>
wrote

[2016-04-06 14:22] roemhildtg commented on #22
Ah, yes it may be possible that my widget doesn't account for tiled layers since I've only used dynamic layers as operational layers in cmv.

This wouldn't be a difficult fix, I'll look into it when I have some free time.

[2016-05-13 15:19] ERS-Long opened #23 "Time Slider change"
Hi, @roemhildtg

Thanks for the time slider widget code. Here is a change i want to make, the reason is i have other widget that use the same bottom pane (export, search, etc). So i am thinking to change your code a little bit, but no luck so far. Could you please take a look at the following to see what else i am missing?

Basically, instead of set the div in the viewer.js setting part, I put it

[2016-05-13 17:48] ERS-Long commented on #23
Figured out,

need to change to the following to make it work for my case.

          	this.timeSlider = new TimeSlider({
            	style: "width: 100%;"
          	}, dom.byId("timeSlider"));

Now i can have both search and time slider at the same time

![image](https://cloud.githubusercontent.com/assets/5911272/15256818/ec1d4516-1908-11e6-940e-e4e2c2616c45.png)

updated code is below

define(

[2016-05-13 17:48] #23 closed

[2016-05-13 17:54] roemhildtg commented on #23
I've done it another way before also, either way will work though.
One is you can call the

[2016-05-13 18:16] ERS-Long commented on #23
Cool, will try your approach. Thanks a lot.

[2016-07-29 16:51] ERS-Long opened #24 "AppSetting widget in CMV develop version"
Hi, @roemhildtg

Have you tried the appSetting widget in the CMV develop version? It seems to me i cannot click any of the checkbox

![image](https://cloud.githubusercontent.com/assets/5911272/17256275/7030c28c-5582-11e6-94b2-b32bbca07d22.png)

it has no error, but when look more into it, seems in file AppSetting.js

this function is never called

this.loadAppSettings();

Please see if you know so

[2016-08-01 00:13] roemhildtg commented on #24
Can you post your config for the app settings widget?

[2016-08-01 14:21] ERS-Long commented on #24
Here is the config setting

            shareMap: {
                include: true,
                id: 'shareMap',
                position: 17,
                type: 'titlePane',
                canFloat: false,
                path: 'widgets/AppSettings',
                title: '<i class="icon-large icon-paper-clip"></i>&nbsp;&nbsp;Save/Share Current Map',
                options: {

[2016-08-01 14:58] roemhildtg commented on #24
Okay, so your using the php script. Is there an ajax request occurring in your network log? If so, can you post the parameters/data retrieved from the network request?

[2016-08-01 16:22] ERS-Long commented on #24
dont have that info, but i got the following error

![image](https://cloud.githubusercontent.com/assets/5911272/17300948/47ff3046-57da-11e6-8b56-9fd008be541d.png)

[2016-08-01 16:25] ERS-Long commented on #24
when i click the left checkbox, it does do something but the checkbox remains unchecked no matter what.

[2016-08-01 16:27] roemhildtg commented on #24
Can you post the stack trace on that Uncaught TypeError also? That would be helpful in diagnosing the issue

[2016-08-01 16:39] ERS-Long commented on #24
i dont see that error after i reloaded this viewer, (the viewer is Tim's version with WAB widgets plug in).

[2016-08-01 16:53] roemhildtg commented on #24
I'll take a look at that viewer later today and see if I can find out more details. Also just fyi, I updated the demo branch of this repo to use the latest cmv develop branch. https://github.com/roemhildtg/cmv-widgets/tree/demo I didn't see any problems but I didn't test with the php script.

[2016-08-01 18:01] ERS-Long commented on #24
yes, using the develop version, i can plug this share widget in, and it seems ok, but the issue is when i tried to open the map using something like url/?cmvSettings=4, it wont show/hide the layer and basemap like before. Please see if you can re-produce this and figure out what i did wrong. Thanks a lot!

[2016-08-01 18:06] ERS-Long commented on #24
looks there is some issue with the php, it log some records, but it is kind of empty.

![image](https://cloud.githubusercontent.com/assets/5911272/17303962/cba2b284-57e8-11e6-8766-c297f8282de7.png)

[2016-08-01 22:02] #22 closed

[2016-08-01 22:07] roemhildtg commented on #24
Hm, I can't seem to reproduce. I downloaded the wab version that tim had and it doesn't seem to have an issue. I'll try testing some of the other widgets though.

[code]
![spectacle tj4792](https://cloud.githubusercontent.com/assets/5471079/17310480/5a2457b2-580a-11e6-8a52-200f7bf19f34.png)

[2016-08-01 22:53] roemhildtg commented on #22
@shshwang sorry I put this off so long, I forgot about it. Should be taken care of now.

[2016-09-25 00:57] roemhildtg commented on #24
@ERS-Long did you ever find a solution to this?

[2016-09-25 14:18] ERS-Long commented on #24
@roemhildtg I did not get chance to look more into it, if you cannot re-produce it, we can close it for now. I will try to dig into next time. Thanks!

[2016-09-25 14:18] #24 closed

[2016-10-05 17:06] jkyoungchoi opened #25 "use mediaInfos with relationshiptable values"
Hi,
I was wondering if you were able to populate chart using mediaInfos? If so, can you share how you did?

Thanks,

C

[2016-10-05 17:17] roemhildtg commented on #25
I haven't used charting in a popup. But here's a sample I found: https://developers.arcgis.com/javascript/3/jssamples/popup_chart.html

[2016-10-05 18:50] jkyoungchoi commented on #25
Thanks,
So, your relationshiptable widget successfully gets values, thanks a lot, but I couldn't go further yet.
I have another question: I can see results that I need function in _addRecord (in widget) but not sure how I can bring it back to (other tabcontainer, in config identify) parse?
Thanks,

[2016-10-05 19:08] roemhildtg commented on #25
So, you want to get the data values in a relationship table and put them somewhere?

[2016-10-05 19:23] jkyoungchoi commented on #25
right, basically on my popup there will be two tabs. one is just table and the other one will be chart.
Somehow, trying to make it work, since can't use mediainfo (maybe it works, but couldn't make it work) going to implement https://developers.arcgis.com/javascript/3/jssamples/widget_infowindowchart.html insetead. but still couldn't bring "right" data for it.

[2016-10-05 19:32] roemhildtg commented on #25
Ah. I see. Yeah it's a little confusing since when you specify `content:relationshipFunction(..)` it actually **overrides** the entire esri popup. So you lose all the "extra" functionality like media infos, attachements, and other stuff.

You can add a chart though by creating it manually. Just call your `tabContainer.addChild(new dojox.charting.Chart2D());` Or something to that effect.

[2016-10-05 19:38] jkyoungchoi commented on #25
thanks, I didn't think about it.
Gonna try!

[2016-10-05 21:47] jkyoungchoi commented on #25
so, finally data comes in
but I couldn't access it via js.
console shows:
key: data
object []

    length:3

problem is that object shows empty [] , therefore can't access it.
it should be like: [Object, Object, Object] instead.

Do you have any idea that how I can fix this?

Thanks

[2016-10-06 00:09] roemhildtg commented on #25
It would help if you posted what your code looks like, I usually do something like this:

https://github.com/roemhildtg/cmv-widgets/tree/master/widgets/RelationshipTable#include-in-identify-popup

[2016-10-06 05:12] jkyoungchoi commented on #25
here is code:
var formatters = {
        relationship: function (relationship) {
           return function (data) {
               var container = new TabContainer({
                   style: 'width:100%;height:300px;'
               }, domConstruct.create('div'));
               container.startup();
               //delay then resize
               setTimeout(function () {
                   con

[2016-10-06 15:37] jkyoungchoi commented on #25
it was loop problem, I was calling it while is not done.

Thanks for help!

[2016-10-06 21:00] roemhildtg commented on #25
Ah, so you solved it?

[2016-10-06 23:03] jkyoungchoi commented on #25
yeah, just delay a sec and then everything works fine

[2016-10-07 12:50] #25 closed

[2016-11-22 01:21] triesco opened #26 "Can it be used on a featureService?"

[2016-11-22 14:11] roemhildtg commented on #26
which widget are you referring to?

[2016-11-22 14:16] triesco commented on #26
To heatmap widget?
On Nov 22, 2016 9:11 AM, "Gregg Roemhildt" <notifications@github.com> wrote:

[2016-11-22 14:21] roemhildtg commented on #26
Right now its only set up for Dynamic. To make it work with feature layers, a couple of modifications would be necessary

- the widget would need to be modified to first determin whether the layer passed is a feature or dynamic layer, and then extract the url correctly.
- the cmv menu item for feature layers would need to be implemented. Currently this only works on dynamic layers where you can cl

[2016-11-23 03:16] triesco commented on #26
Thanks for the info Gregg, let me know if I can help in anything.
On Nov 22, 2016 9:21 AM, "Gregg Roemhildt" <notifications@github.com> wrote:

[2016-11-23 13:47] roemhildtg commented on #26
Pull requests are always welcome 😉

[2016-12-04 14:20] ERS-Long opened #27 "Related Record issue maybe"
Great Widget.

Got one problem here, if i use the widget in the identify manner, it generally works fine, but if my identify return two or more records at one time, then that next button seems does not refresh the data correctly. Please see if you have the same problem or not.

Thanks!

[2016-12-05 13:58] roemhildtg opened #28 "Troubleshooting label widget"
Moved from https://github.com/cmv/cmv-app/issues/642#issuecomment-264847921

@roemhildtg We're giving it a try in a copy of our editor. Looks good for a long time, but ultimately doesn't label. We keep getting an error , maybe one of those still existing bugs you mention. Maybe analyzing the error in the app helps to see what's happening: https://www.hgis-indias.net/cmv-app-master/label/

Anyway,

[2016-12-05 14:00] roemhildtg commented on #28
I tried adding labels to the lagos layer (https://www.hgis-indias.net:6443/arcgis/rest/services/HGIS/hgis_fisico/MapServer/1)

The error I get is esri.layers.FeatureLayer: unable to find a field of type 'esriFieldTypeGeometry' in the layer 'fields' information. If you are using a map service layer, features will not have geometry [url: https://www.hgis-indias.net:6443/arcgis/rest/services/HGIS/hgi

[2016-12-05 14:12] roemhildtg commented on #27
@ERS-Long thanks for the report. Can you give a little more detail on what's not refreshing correctly? Also your identify config/formatters code snippet might be helpful.

[2016-12-05 15:46] ERS-Long commented on #27
@roemhildtg Thanks for your reply. Here is a screen shot

![image](https://cloud.githubusercontent.com/assets/5911272/20891280/a16cb31c-bacf-11e6-92cb-f45251106c44.png)

The identify tool returned three records because they are very close to each other. If i use the > button on the popup on top, the data pane does not refresh or show the next record.

Here is my config part

        relationships:

[2016-12-05 15:54] roemhildtg commented on #27
Hmm, that's odd. I haven't tried putting multiple relationships in a tab but it shouldn't be a problem. Is it throwing any errors when you toggle features?

[2016-12-05 15:59] ERS-Long commented on #27
oh, it does throws an error, because i used a named id  div  domConstruct.create('div', {id: "relatedWidgetDiv"}));

I will debug it more. Thanks.

[2016-12-05 16:04] ERS-Long commented on #27
Great, that is it!  Thank you so much.

[2016-12-05 16:04] #27 closed

[2016-12-05 16:19] roemhildtg commented on #27
10-4. :+1:

[2016-12-06 10:25] Wernazuma commented on #28
FYI, I published the service again with all fields turned on!

[2016-12-15 20:25] roemhildtg commented on #26
I just published the first version in our internal viewer, so we'll see if people use it or not. If so, I might implement feature layers. It shouldnt be tough to do at this point.

[2017-01-20 21:02] roemhildtg commented on #28
@Wernazuma I've made some major enhancements to the label widget.

After going back through your original issue, it appears we both had a very similar issue...people want different types of labels and rather than providing a set of 15-20 layaers just for labels, why not let the user create them on the fly?

The new functionality allows exactly this, and you can also set up predefined labels as the

[2017-03-22 14:47] cmccullough2 opened #29 "Filter widget config file"
Where can I find the config files for the filter widget?

[2017-03-22 15:20] roemhildtg commented on #29
@cmccullough2 I have a branch with the configs for cmv. https://github.com/roemhildtg/cmv-widgets/blob/gh-pages/js/config/filter-config.js

[2017-03-22 15:20] roemhildtg commented on #29
![image](https://cloud.githubusercontent.com/assets/5471079/24205375/35d2e4be-0ee9-11e7-950f-45e2b90b3470.png)

See the `gh-pages` branch

[2017-03-22 15:24] cmccullough2 commented on #29
Ok, got it.  Where do I set the queries?  I am using this site as an example, http://roemhildtg.github.io/cmv-widgets/?config=filter-config

[2017-03-22 15:26] roemhildtg commented on #29
I'm not sure I follow your question. The queries are set automatically in the widget, all you do is pick the layers, field,s and values.

[2017-03-22 16:01] cmccullough2 commented on #29
Where did you set these values in the widget?

[2017-03-22 16:01] cmccullough2 commented on #29
Sorry I did not mean to close this issue.

[2017-03-22 16:05] roemhildtg commented on #29
The widget fetches them from your layers. There's no configuring necessary. Its a somewhat limited widget at the moment.

[2017-03-22 16:19] cmccullough2 commented on #29
Ok, I am trying to figure out the logic.  I have many layers in the map.  This could confuse the widget.  This is a widget I would like to implement, but I may wait until it is more mature.  Thank you

[2017-03-31 19:49] mtabdar opened #30 "Relateion table does not work for dynamic layers"
Hi
Thanks for the amazing widgets espcially the relation table. It is fantastic but i couldn't use it with my dynamic layers. is it a bug or i am doing something wrong?

[2017-03-31 20:02] roemhildtg commented on #30
Nope, its not a bug, its just a limitation of the widget. It uses Feature layer "clicks" to do the query. I do have an example of it working with dynamic layers though, but it works a little differently. It uses the identify popup to display the table instead. Would that meet your needs?

https://github.com/roemhildtg/cmv-widgets/tree/master/widgets/RelationshipTable#include-in-identify-popup

[2017-03-31 20:14] mtabdar commented on #30
Thanks. In fact it is exactly what i want but i cannot do it!
I used your samples just changed the urls to my own. Then i set identify to show relation tables it workd fine for "petrolium" (why is it not petroleum?)  which is feature layer but couldndo the same for timekansas which is dynamic. I also changed petroleum to dynamic and the identify stopped showing relation table.!!?

[2017-03-31 20:25] roemhildtg commented on #30
Does the identify show up at all? Or are there error messages?

[2017-03-31 20:28] mtabdar commented on #30
Yes identify shows regular identify values and no errors just some svg.js errors which are not related to this.

[2017-03-31 20:39] roemhildtg commented on #30
Off the top of my head, it sounds llike your layer id might not match up with your identify layer id.

In viewer.js (or main cmv config file), what is:
- `layer.type`
- `layer.options.id`
- `layer.url` (not the fulll url, but whether its `/MapServer/0` or `/Maperver` or `/Mapserver/1` etc

In identify.js config file, what is:
 - the name of your identifies layer
 - the number of your identifies su

[2017-03-31 20:54] roemhildtg commented on #30
Similarly, for feature layers, the only thing you'd need to change is this in viewer.js:
[code]

[2017-03-31 21:01] mtabdar commented on #30
In viewer.js
Layer type. Dynamic
Layer options id. timeKansas
layer.url /MapServer/

In identify.js
timeKansas is the layer id
I don't get number of identifies sublayer i add one feature layer with two relation tabels (which work as expecte) and this dynamic layer "timekansa" it has two sub layers.
May i ask what about the url used in parameters of factory. It seems that it is a feature url (with

[2017-03-31 21:08] mtabdar commented on #30
I'm sorry. I don't get the point of your last comment. Feature layers work fine my problem is with dynamic layers. Thanks

[2017-04-01 12:11] mtabdar commented on #30
Yes you are right. When i checked and corrected sublayer id's and relation id's i could see the related records in identify. Thanks.
Though i have 2 problems
1. My layer with id =0 doesn't show the related records
2. Although i have set a 1:M relationship and provided several records in the table for each objectid, only one record is shown as the result.

[2017-04-01 14:28] mtabdar opened #31 "Problem with labellayer"
Hi. Thank you for this great widget. I would be really greatful if you could help me with this issue, I have added label layer to my app ad it seems to work fine because a new layer is created and added to my layers but it has no label.

[2017-04-02 18:16] roemhildtg commented on #31
Thanks for the report. Have you set `showLabels: true` in your [`mapOptions`](https://github.com/roemhildtg/cmv-widgets/blob/gh-pages/js/config/viewer.js#L30)?

[2017-04-02 18:44] roemhildtg commented on #30
There's a fix for number 1, it is a bug in the identify widget: https://github.com/cmv/cmv-app/pull/706

For number 2, it might be helpful for you to look at the network logs when you do the identify. Then you can see what query is being passed to the server, and what it is returning as a response.

[2017-04-03 08:00] mtabdar commented on #31
Fantastic!
yes that was the solution. thank you.

[2017-04-03 08:00] #31 closed

[2017-04-03 08:17] mtabdar commented on #30
thanks.
1- i think you are right about "layer with id =0" because i encountered some other issues with it (label layers for example) but unfortunately i couldn't understand if there is a fix available or the root of the problem is identified and you are trying to fix it?
2- again you are right and i should investigate more about it.
thanks a lot for the help.

[2017-04-03 12:29] roemhildtg commented on #30
The problem is identified, but has not been included in cmv-app yet.

[2017-04-20 20:56] tr3vorm opened #32 "Reset timeslider on close"
It would be useful to have the timeslider reset the temporal extents when the timeslider widget it is closed so that all data date ranges are shown.

[2017-04-21 14:34] roemhildtg commented on #32
This is a good idea. I can add it if I get some time someday. Otherwise pull requests welcome 😀

Something like this would work:
[code]

[2017-04-21 14:36] roemhildtg commented on #26
Update: The custom layer menu enhancement for feature layers has been published in cmv-2.0, so this is now more feasible.

[2017-04-21 14:38] roemhildtg commented on #28
FYI, your app is using an old version of the api (3.14). you may want to try updating to 3.19 and see if anything changes.

[2017-04-21 14:39] roemhildtg commented on #29
@cmccullough2 another user is working on enhancing the widget to allow customizations like hiding layers and fields. there has been some discussion on it in the cmv chatroom.

[2017-04-21 14:40] roemhildtg commented on #30
This fix is now in the cmv develop branch. You should be able to download the latest version and have this issue resolved.

[2017-04-21 14:40] #30 closed

[2017-04-21 16:43] roemhildtg commented on #32
Just found this example: https://github.com/tmcgee/cmv-widgets/commit/80809d48915c52fc47bbd7a583e8265d64490bc6

[2017-04-21 16:45] cmccullough2 commented on #29
@roemhildtg Thank you.  I have implemented the config widget in a title pane.  It works fabulously.  I will look at the chatroom for more information.

[2017-04-22 07:58] Wernazuma commented on #28
Thank you for your update! We'll try that and make a new effort to get it working. This could make our app so much lighter instead of having dozens of "label only" layers. I'm at a conference next week, but I will report back how we fare!

[2017-04-22 12:56] mtabdar opened #33 "limited space of relationtable in identify"
i am using relation tables in identify popup for several layers of my app, and it is GREAT! (thanks for the widget)
just in some cases i prefer to have more space for the contents of tables, is there a way to enable horizontal scrolling? or is there a way other than limiting the number of columns?
from another point of view why identify popup is not resize-able?

[2017-04-23 14:38] mtabdar commented on #33
I found that by changing width=100% to width==500px in factory.js identify becomes scrollable. I think i can live with that.

[2017-04-23 17:23] roemhildtg commented on #33
Awesome glad you figured it out. Would you be willing to post the fix? For others it might be helpful

[2017-04-24 14:04] #32 closed

[2017-04-27 17:46] mtabdar commented on #33
Yes. Of course. I would be honoured.though it is somehow too simple.
In factory.js in line 67 which is
 style: 'width:100%;height:280px;'
I replaced width:100% with some pixel value.
style: 'width:500px;height:280px;'
As simple as that. It has though some shortcomings:
The property tab also gets this size so it is a bit misplaced from the center of the window.
And it is a fixed size for all identi

[2017-05-02 06:48] Wernazuma commented on #28
An update: We checked the new version 3.2 but we figured that there is a lot we'd have to work over so we wait for CMV version 2.0 so we don't do redundant work.

[2017-05-06 10:29] bapak71 opened #35 "Demo branch not available"
Hi, I'm new with all this. I find your widget is interesting to explore but there is not enough sample for me to follow.

I see you mentioned there is a [DEMO BRANCH](https://github.com/roemhildtg/cmv-widgets/tree/demo). Unfortunately i got error 404 when I follow the link.

Help is very much appreciated

Thanks

[2017-05-07 17:45] #35 closed

[2017-05-07 17:46] roemhildtg commented on #35
I updated the link in the readme. Thanks for letting me know.

[2017-09-27 07:29] mtabdar opened #36 "problem with appsetting widget"
hi there and thanks for sharing your codes.
i cannot get the AppSetting widget to work in my app (which runs locally). i want to use it in a url and the widget populates it but opening that url has no effect on visibility of layers or map extents and ...
i even tried to run your demo version locally but i have the same problem.

[2017-09-27 10:48] mtabdar commented on #36
hi again. i don't know how but the problem was solved!

[2017-09-27 10:48] #36 closed

[2017-10-03 05:22] mtabdar opened #37 "basemap in appsetting"
hi,
i am using your fantastic appsetting widget in my app. it is great, thank you!
i tried to add basemap as a parameter to the widget but couldn't. i would appreciate it if you could give me a hint.
thanks

[2017-10-03 16:16] roemhildtg commented on #37
What have you tried @mtabdar ? Can you post the code?

I have this slightly documented in the readme, it should work. You have to modify the basemap widget a bit to get it to publish/subscribe to the right topics and update the basemap.

### Storing a setting: - When the basemap changes

[code]

### Retrieving a value when the widget is loaded: - On `postCreate` method:

[code]

### config (viewer

[2017-10-04 05:17] mtabdar commented on #37
hi @roemhildtg
thanks for the hint. i am still stuck.
i added both  publish/subscribe to my basemap.js in postcreate
the error is:"Topic not defined"
adding "dijit/appsettings" to define section of basemap.js doesn't work either.
could you tell me what's wrong?

[2017-10-05 02:29] roemhildtg commented on #37
You need to define Topic. Add dojo/topic to your define block and add Topic to your function. Make sure the modules line up in the same order as their variables

[2017-10-10 07:35] mtabdar commented on #37
hi, thanks for the reply
and sorry for the delay, i was trying different approaches for solving my problem, with no success. this is my basemap.js and i put topic.publish and topic.subscribe in postcreate block. browser gives no errors but basemap object properties is not included in my url. and no "value:object" in console log.
i would appreciate any help
basemap.js:
<---
define([
    'dojo/_base

[2017-10-10 12:45] roemhildtg commented on #37
You need to publish `AppSettings/setValue` when the basemap changes. This would be in the `updateBasemap` function.

[code]

[2017-12-08 23:42] kjohnsonGIS opened #38 "Label Widget field list gets appended to"
Hi, I'm noticing on the label widget, after choosing to label a field on a certain layer, then choosing a different layer, the field list contains the fields of the first layer and the second.   Just wondering if this has been noticed before and if i'm doing something wrong in the config.
Heres my current config:
[code]
BTW this is a great widget, i see it being super useful to our users! Thanks!

[2017-12-11 14:30] roemhildtg commented on #38
Hm, I'm not super familiar with the code anymore but try this:

Add
[code]
to the start of this function here:
https://github.com/roemhildtg/cmv-widgets/blob/master/widgets/LabelLayer.js#L207

Let me know if that fixes it

[2017-12-12 00:29] kjohnsonGIS commented on #38
Thanks for getting back to me!  That did the trick!  Thank you!

[2018-06-20 23:30] kjohnsonGIS opened #43 "App Settings load if not "open""
Hi, is there a configuration to tell the app settings widget to go ahead and load the settings even if the widget isn't opened?  I want to put the app settings as a floating widget opened by a link in the header, but since its not opened before the user clicks on it it doesn't load until then..  Thanks!

[2018-06-20 23:55] kjohnsonGIS commented on #37
Hello,  I noticed to make a custom basemap get saved in the appSettings.js I had to make this change
![image](https://user-images.githubusercontent.com/29210164/41690251-73a76284-74a9-11e8-86f0-9e8add59b6de.png)

and then put this in the Basemap.js   (from above comment)
![image](https://user-images.githubusercontent.com/29210164/41690332-d9628f40-74a9-11e8-9581-06afe11a7daf.png)

and this is the

[2018-06-21 00:43] kjohnsonGIS commented on #43
nevermind i found it.   preload: true
![image](https://user-images.githubusercontent.com/29210164/41691779-5980e10c-74b1-11e8-9943-b3e7a2c2677d.png)
Thanks great widget!

[2018-08-29 16:03] JMaps88 opened #44 "AppSettings Widget just opens a new map"
Hi,

I have been trying to get the AppSettings widget working with the end goal of allowing my end users to have a way to open there map up on a new terminal and continue where they left off, this includes basemap selected, map extent and graphics drawn with the draw widget. I was hoping your widget would allow me to do this or at least be a good starting point, however all it seems to do at the m

[2018-08-29 19:19] roemhildtg commented on #44
A few notes

 - App settings doesn't currently handle drawings or basemap. You can implement this using the directions in the readme though, but it involves serializing your drawings to JSON and then re-creating them once app settings loads.

- Share this map creates a link that you can share with others so that they might be able to open the map up at the location with the visible layers you can

[2018-08-30 01:58] JMaps88 commented on #44
Ok so I must be missing something because it so far it doesn’t share any settings, like layers turned on or off etc.

[2018-08-31 08:38] ParkShinYoo opened #45 "Heatmap for the Filtered features"
Hi,I'm new to this. I am trying to customize the CMV based on my requirements. I found that Heatmap widget helps to create the heat map of the complete layer but I want to create the heatmap of only filtered features instead of the complete layer. Is it possible?

Thanks in advance.

[2018-08-31 12:40] roemhildtg commented on #45
Are you creating a heatmap renderer from a feature layer or dynamic?

If its a feature layer its as simple as adding a definition expression to the feature layer here:
https://github.com/roemhildtg/cmv-widgets/blob/master/widgets/HeatMap.js#L44

Something like:
[code]
should do it.

[2018-08-31 13:30] ParkShinYoo commented on #45
@roemhildtg Thanks for your reply.  I am creating the heatmap renderer from a dynamic layer.

[2018-08-31 13:46] roemhildtg commented on #45
That would be a little bit different, but still a similar process. You just need to find the dynamic sublayer's definitionExpression and pass it to the feature layer.

[2018-09-01 04:15] ParkShinYoo commented on #45
@roemhildtg I wanted to create the heatmap for dynamic layers from the results of the Filter widget
 ( https://github.com/roemhildtg/cmv-widgets/blob/master/widgets/Filter ). Is it possible ?

[2018-10-15 17:19] JMaps88 opened #46 "Limit features available to filter widget"
Just wondering if there is a way to limit the features that appear in the filter widget? At the moment it shows all layers when I only want the user to see certain ones

[2018-10-15 20:34] #43 closed

[2018-10-15 20:36] roemhildtg commented on #46
Hi @JMaps88 this isn't currently built into the widget but if you decide to implement it and get it working, I'd accept a pull request so others using the widget would benefit from this.

[2018-11-01 18:15] #46 closed

[2018-11-01 18:15] #44 closed

[2020-04-20 20:00] raibrahim opened #47 "Deactivate time slider when time-aware-layers is not visible on the Map"
Could you please give me some sample code to make the time slider inactive when there're no time-aware-layers visible on the map?

[2021-11-16 07:47] #47 closed, assigned to nobody

[2021-11-30 03:55] cuthberts opened #48 "Relationship Attachments"
I know this widget has been dormant for a while, but is there anyway to expose attachments in the related features?

[2021-11-30 18:09] green3g commented on #48
Hi @cuthberts  - not currently but if you're interested in developing that - the file of interest would be https://github.com/roemhildtg/cmv-widgets/blob/master/widgets/RelationshipTable/RelationshipTable.js